@model Project_DMD.Models.Article

@{
    ViewBag.Title = "Delete";
}
<div class=" well">
    <h2>Delete</h2>
</div>

<h3>Are you sure you want to delete this article?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOI)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-lg-1">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
<div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
