@model Project_DMD.Models.Article

@{
    ViewBag.Title = "Delete";
}
<div class=" well">
    <h2>Delete</h2>
</div>

<h3>Are you sure you want to delete this article?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div>
        <table class="table table-bordered table-hover table-sortable" id="tab_logic">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Published)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Updated)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.JournalReference)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DOI)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Views)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.AuthorsList)
                    </th>
                </tr>
                <tr>
                    <td>
                        <a href="@Model.Url">@Model.Url</a>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Published)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Updated)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.JournalReference)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.DOI)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Views)
                    </td>

                    <td>
                        @{
                            if (Model != null && Model.AuthorsList != null)
                            {
                                var count = 0;
                                foreach (var author in Model.AuthorsList)
                                {
                                    var str = ++count == Model.AuthorsList.Count ? "" : ",";
                                    <span>@Html.ActionLink(author.AuthorName, "ShowAuthor", new { id = author.AuthorId })@str</span>
                                }
                            }
                        }
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div>
        <table class="table table-bordered table-hover table-sortable" id="tab_logic">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Summary)
                </td>
            </tr>
        </table>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-1">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-warning" })
</div>
    