@using Project_DMD.Classes
@model Project_DMD.Models.Article

@{
    ViewBag.Title = "Details";
}


<div class="well">
    <h2>Details</h2>
</div>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <table class="table table-bordered table-hover table-sortable" id="tab_logic">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Published)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.JournalReference)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DOI)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Views)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Categories)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AuthorsList)
                </th>
            </tr>
            <tr>
                <td>
                    <a href="@Model.Url">@Model.Url</a>
                </td>

                <td>
                    @Html.DisplayFor(model => model.Published)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Updated)
                </td>

                <td>
                    @Html.DisplayFor(model => model.JournalReference)
                </td>

                <td>
                    @Html.DisplayFor(model => model.DOI)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Views)
                </td>

                <td>
                    @if (Model.Categories != null)
                    {
                        var count = 0;
                        <p>
                            @foreach (var category in Model.Categories)
                            {
                                var str = ++count == Model.Categories.Count ? "" : ",";
                                <span>@Html.ActionLink(Global.Instance.Categories[category], "Index", new { category = category })@str</span>
                            }
                        </p>
                    }
                </td>

                <td>
                    @{
                        if (Model != null && Model.AuthorsList != null)
                        {
                            var count = 0;
                            foreach (var author in Model.AuthorsList)
                            {
                                var str = ++count == Model.AuthorsList.Count ? "" : ",";
                                <span>@Html.ActionLink(author.AuthorName, "ShowAuthor", new { id = author.AuthorId })@str</span>
                            }
                        }
                    }
                </td>
            </tr>
        </thead>
    </table>
</div>
<div>
    <table class="table table-bordered table-hover table-sortable" id="tab_logic">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Summary)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Summary)...<a href="@Model.Url">read more&raquo;</a>
            </td>
        </tr>
    </table>
</div>
<p>
    @if (Model != null)
    {
        <span>@Html.ActionLink("Show related by published year", "Index", new { publicationYear = Model.Published.Year }) |</span>
        <span>@Html.ActionLink("Show related by author", "Index", new { authorName = String.Join(",", Model.AuthorsList.Select(a => a.AuthorName)) })</span>
    }
</p>
<p>
    <div style="display:inline-block;">
        @if (Model != null)
        {
            if (!ViewBag.Favorite)
            {
                using (Html.BeginForm("Favorite", "Articles", FormMethod.Post))
                {
                    <input type="hidden" name="articleId" value="@Model.ArticleId" />
                    <input type="submit" value="Add to favorite" class="btn btn-success" />
                }
            }
            else
            {
                using (Html.BeginForm("RemoveFromFavorite", "Articles", FormMethod.Post))
                {
                    <input type="hidden" name="articleId" value="@Model.ArticleId" />
                    <input type="submit" value="Remove from favorite" class="btn btn-danger" />
                }
            }
        }
    </div>
    <div style="display:inline-block;">@Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }, new { @class = "btn btn-info" })</div>
    <div style="display:inline-block;">@Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-warning" })</div>
    <div style="display:inline-block;" class="col-lg-offset-7">@Html.ActionLink("Delete article", "Delete", new { id = Model.ArticleId }, new { @class = "btn btn-danger" })</div>
</p>
