@using Project_DMD.Classes
@using Project_DMD.Models
@model Project_DMD.Models.Article

@{
    ViewBag.Title = "Edit";
}
<div class="well">
    <h2>Edit</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArticleId)
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>

                <th>
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>

                <th>
                    @Html.LabelFor(model => model.JournalReference, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>

                <th>
                    @Html.LabelFor(model => model.DOI, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>

                <th>
                    @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
            </tr>
            <tr>
                <th>
                    <textarea name="Url" class="textarea2"> @Model.Url </textarea>
                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                </th>

                <th>
                    <textarea name="Title" class="textarea2">@Model.Title</textarea>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </th>

                <th>
                    <textarea name="JournalReference" class="textarea2">@Model.JournalReference</textarea>
                    @Html.ValidationMessageFor(model => model.JournalReference, "", new { @class = "text-danger" })
                </th>

                <th>
                    <textarea name="DOI" class="textarea2">@Model.DOI</textarea>
                    @Html.ValidationMessageFor(model => model.DOI, "", new { @class = "text-danger" })
                </th>

                <th>
                    @{ SelectList list = ViewBag.SelectedList;}
                    @Html.ListBoxFor(model => model.Categories, list)
                </th>
                @Html.ValidationMessageFor(model => model.DOI, "", new { @class = "text-danger" })
            </tr>
        </table>
    </div>

    <div>
        <table class="table table-bordered">
            <tr>
                <th style="text-align:center">
                    Summary
                </th>
            </tr>
            <tr>
                <td>
                    <textarea name="Summary" class="textarea">@Model.Summary</textarea>
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>

    <div style="display:inline-block">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
    <div style="display:inline-block">
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-warning" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
