@using Project_DMD.Classes
@model IEnumerable<Project_DMD.Models.Article>

@{
    ViewBag.Title = "Articles";
}

<div class="well">
    <h2>Index</h2>
</div>

<p>[WARNING!] Don't show a lot of data! Kevin, you should decide which attributes need to show, which not necessary </p>
<p>Окей, не ссы, братан!</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    SelectList list = ViewBag.SelectedList;
    <table>
        <tr>
            <th>Article Name @Html.TextBox("articleName")</th>
            <th>Author Name @Html.TextBox("authorName")</th>
            <th>Publication year @Html.TextBox("publicationYear")</th>
            <th>Keyword @Html.TextBox("keyword")</th>
            <th>Category @Html.DropDownList("category", list)</th>
            <th>Journal reference @Html.TextBox("journalReference")</th>
            <th>
                <div class="col-md-offset-1">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </th>
        </tr>
    </table>
<hr />
<div class="col-lg-12">
    <table class="table-bordered table-condensed table-hover">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorsList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JournalReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOI)
                </td>
                <td>
                    @{
            if (item != null && item.AuthorsList != null)
            {
                foreach (var author in item.AuthorsList)
                {
                    <span>@Html.ActionLink(author.AuthorName, "ShowAuthor", new { id = author.AuthorId }) |</span>
                }
            }
                    }
                </td>
                <td>
                    @if (item.Categories != null)
                    {
                        <p>
                            @foreach (var category in item.Categories)
                            {
                                <span>@Html.ActionLink(Global.Instance.Categories[category], "Index", new { category = category }) | </span>
                            }
                        </p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ArticleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArticleId })
                </td>
            </tr>
        }

    </table>
</div>
