@using Project_DMD.Classes
@model IEnumerable<Project_DMD.Models.Article>

@{
    ViewBag.Title = "Articles";
}
<div class="well">
    <h2>You have access to more than one million articles. Use it!</h2>
</div>
<p>
    @Html.ActionLink("Add New Article", "Create")
</p>
<p>Search time: @ViewBag.TimeElapsed ms</p>

@using (Html.BeginForm())
{
    SelectList list = ViewBag.SelectedList;
    SelectList sortes = ViewBag.Sortes;
    <div id="container" class="container">
        @Html.Hidden("orderByDescending")
        <div class="row">
            <div>
                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                    <thead>
                        <tr>
                            <th>Article Name @Html.TextBox("articleName", "", new { @class = "wide" })</th>
                            <th>Author Name @Html.TextBox("authorName", "", new { @class = "wide" })</th>
                            <th>Publication year @Html.TextBox("publicationYear", "", new { @class = "wide" })</th>
                            <th>Keyword @Html.TextBox("keyword", "", new { @class = "wide" })</th>
                            <th>Journal reference @Html.TextBox("journalReference", "", new { @class = "wide" })</th>
                            <th>Category @Html.DropDownList("category", list, new { @class = "wideforcategories" })</th>
                            <th>Order by @Html.DropDownList("sortType", sortes, new { @class = "high" })</th>
                            <th>
                                <div style="display:inline-block;" id="order"></div>
                            </th>
                            <th>
                                <div style="display:inline-block;">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-bordered table-condensed table-hover widefortable heightfortable">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Published)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Authors)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories)
                        </th>
                        <th>
                            Operations
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:300px">
                                @Html.ActionLink(item.Title, "Details", new { id = item.ArticleId })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Published)
                            </td>
                            <td style="width:300px">
                                @{
                        if (item != null && item.Authors != null)
                        {
                            var count = 0;
                            foreach (var author in item.Authors)
                            {
                                var str = ++count == item.Authors.Count ? "" : ",";
                                <span>@Html.ActionLink(author.AuthorName, "ShowAuthor", new { id = author.AuthorId })@str</span>
                            }
                        }
                                }
                            </td>
                            <td style="width:300px">
                                @if (item.Categories != null)
                                {
                                    <p>
                                        @{var count = 0;}
                                        @foreach (var category in item.Categories)
                                        {
                                            var str = ++count == item.Categories.Count ? "" : ",";
                                            <span>@Html.ActionLink(Global.Instance.Categories[category], "Index", new { category = category })@str </span>
                                        }
                                    </p>
                                }
                            </td>
                            <td style="width:180px">
                                <div style="display:inline-block;">@Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }, new { @class = "btn btn-sm btn-success" })</div>
                                <div style="display:inline-block;"> @Html.ActionLink("Info", "Details", new { id = item.ArticleId }, new { @class = "btn btn-sm btn-info" })</div>
                                <div style="display:inline-block;">@Html.ActionLink("Delete", "Delete", new { id = item.ArticleId }, new { @class = "btn btn-sm btn-danger" })</div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-offset-10">
        @if (ViewBag.Page != 1)
        {
            <div style="display:inline-block;" class="col-lg-offset-0">
                <input type="submit" value="&laquo Previous" onclick="PreviousPage()" class="btn btn-default">
            </div>
        }
        @if (ViewBag.Page == 1)
        {
            <div class="col-lg-offset-7">
                <input type="submit" value="Next &raquo" onclick="NextPage()" class="btn btn-default">
            </div>
        }
        else
        {
            <div style="display:inline-block;" class="col-lg-offset-1 g">
                <input type="submit" value="Next &raquo" onclick="NextPage()" class="btn btn-default">
            </div>
        }
    </div>
}
<script type="text/javascript">
    $(function () {
        if ($("#orderByDescending").val() == "true") {
            $("#order").append("<button class='btn btn-sm btn-warning'><span class='glyphicon glyphicon-arrow-up'></span></button>").click(function () {
                $("#orderByDescending").val("false");
                $("form").submit();
            })
        } else {
            $("#order").append("<button class='btn btn-sm btn-warning'><span class='glyphicon glyphicon-arrow-down'></span></button>").click(function () {
                $("#orderByDescending").val("true");
                $("form").submit();
            });
        }
    });

    function PreviousPage() {
        $("#container").append($("<input hidden name='page'>").attr("value", "@(ViewBag.Page-1)"));
        $("form").submit();
    }

    function NextPage() {
        $("#container").append($("<input hidden name='page'>").attr("value", "@(ViewBag.Page+1)"));
        $("form").submit();
    }
</script>