@using Project_DMD.Classes
@model IEnumerable<Project_DMD.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Mark that some articles are favorite for current user, show some authors name
<p>[WARNING!] Don't show a lot of data! Kevin, you should decide which attributes need to show, which not necessary </p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    SelectList list = ViewBag.SelectedList;
    <p>Article Name @Html.TextBox("articleName")</p>
    <p>Author Name @Html.TextBox("authorName")</p>
    <p>Publication year @Html.TextBox("publicationYear")</p>
    <p>Keyword @Html.TextBox("keyword")</p>
    <p>Category @Html.DropDownList("category", list)</p>
    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOI)
        </td>
        <td>
            @{
                if (item != null && item.AuthorsList != null)
                {
                    foreach (var author in item.AuthorsList)
                    {
                        <span>@Html.ActionLink(author.AuthorName, "ShowAuthor", new {id = author.AuthorId}) |</span>
                    }
                }
            }
        </td>
        <td>
            @if (item.Categories != null)
            {
                <p>
                    @foreach (var category in item.Categories)
                    {
                        <span>@Html.ActionLink(Global.Instance.Categories[category], "Index", new { category = category }) | </span>
                    }
                </p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleId })
        </td>
    </tr>
}

</table>
