@model Project_DMD.Models.Author

@{
    ViewBag.Title = "ShowAuthor";
}

<h2>ShowAuthor</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishedArticles)
        </dt>
        <dd>
            @{
                if (Model != null && Model.PublishedArticles != null)
                {
                    foreach (var article in Model.PublishedArticles)
                    {
                        <span>@Html.ActionLink(article.Title, "Details", new { id = article.ArticleId }) |</span>
                    }
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
