@model Project_DMD.Models.AppUser

@{
    ViewBag.Title = "Details";
}
<div class="well">
    <h2>My account information</h2>
</div>
<div>
    <hr />
    <table class="table table-bordered" style="width:400px">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>

            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>

            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>
    </table>
</div>
<hr />
<p>
    @Html.ActionLink("Favorites", "Favorites") |
    @Html.ActionLink("Visits", "Visits") |
    @Html.ActionLink("Actions", "Actions")
</p>
<p>
    <a href="Manage/Edit" class="btn btn-info">Edit</a>
</p>
